@import url("style.css");

#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 77%, 0.4);
    overflow: scroll;
    z-index: 2;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 18.75em;
    margin: 0 6.25em;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 30px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

form input {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 0.8px solid #ccc;
}

.form_data[data-error]::after {
    content: attr(data-error);
    font-size: 1em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.form_data[data-error-visible="true"]::after {
    opacity: 1;
}

.form_data[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}

.photographer_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.photographer_name_bis {
    font-size: 4em;
    font-weight: 400;
}

.photographer_location_bis {
    font-size: 1.5em;
    font-weight: 400;
}

.photographer_tagline_bis {
    font-size: 1.125em;
}

.photographer_stats {
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: #DB8876;
    right: 40px;
    bottom: -10px;
    width: 376px;
    height: 89px;
}

.photographer_price_bis {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
}

.photographer_sort {
    display: flex;
    align-items: baseline;
    margin: 20px 100px;
}

.sort {
    font-size: 1.125em;
    font-weight: 700;
}

.sort_button {
    background-color: #901C1C;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    width: 170px;
    height: 70px;
    cursor: pointer;
    border: none;
}

.sort_button i {
    margin-left: 20px;
}

.sort_button i.rotate {
    transform: rotate(180deg);
}

.sort_dropdown {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    background: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    z-index: 1;
}

.dropdown_content li::before {
    content: "";
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: white
}

.photographer_sort li {
    list-style-type: none;
}

.photograph-media {
    margin: 0 6.25em 6.25em;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;

}

.photographer_pic,
.photographer_vid {
    width: 21.875em;
    height: 18.75em;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 2em;
    cursor: pointer;
}

.photographer_media_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.photographer_title {
    font-size: 1.5em;
    font-weight: 400;
    color: #901C1C;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.box_likes {
    display: flex;
    align-items: center;
    color: #901C1C;
    font-size: 1.5em;
}

.box_likes_bis {
    color: #000;
}

.photographer_likes {
    font-weight: 600;
}

.total_likes {
    font-size: 24px;
    font-weight: 500;
}

.icon_likes {
    margin-left: 6px;
    cursor: pointer;
}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#lightbox_content {
    width: 60%;
    height: 85%;
}

#lightbox_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#lightbox_content video {
    width: 100%;
    height: 100%;
}

#lightbox_close {
    font-size: 50px;
    color: #901C1C;
    background-color: #fff;
    border: none;
    position: fixed;
    top: 50px;
    right: 100px;
    z-index: 12;
    cursor: pointer;
}

#lightbox_arrow_next {
    border: none;
    position: fixed;
    right: 110px;
    z-index: 11;
    background-color: #fff;
}

#lightbox_arrow_previous {
    border: none;
    position: fixed;
    left: 110px;
    z-index: 11;
    background-color: #fff;
}

#lightbox_title {
    font-size: 24px;
    color: #901C1C;
    font-weight: 400;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 50px;
    color: #901C1C;
    cursor: pointer;
}