* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
}


.photographer_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.photographer_img {
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_name {
    font-size: 2.25em;
    color: #D3573C;
}

.photographer_location {
    font-size: 1em;
    color: #901C1C;
}

.photographer_tagline {
    font-size: 0.8em;
}

.photographer_price {
    font-size: 0.7em;
    color: #757575;
}